/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --font-family: 'Gilroy', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: bold;
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0 10px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: #070707;
  font-size: 18px;
}

section {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
header {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0 auto 12px auto;
}

nav {
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

nav ul {
  display: flex;
  gap: clamp(10px, 5vw, 40px);
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: #828282;
  ;
}

nav ul li a:hover,
.portfolio-section article a:hover {
  color: black;
  font-weight: 700;
  cursor: pointer;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #828282;
  margin: 0;
}

/* HERO */
.hero-section {
  height: 500px;
  margin-bottom: 100px;
}

.hero-container {
  display: grid;
  gap: 30px;
}

.hero-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero-title h1 {
  font-weight: var(--font-weight-bold);
  font-size: 48px;
}

.lang-list {
  display: flex;
  transform: rotate(-90deg);
  gap: 5px;
}

.hero-title ul li a {
  text-decoration: none;
  color: #828282;
}

.hero-title ul li a:hover {
  color: black;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.menu-btn-open {
  display: none;
  width: 35px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}

.is-open {
  transform: translateX(0);
}

.menu-btn-close {
  position: absolute;
  top: 67px;
  right: 30px;
  width: 22px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-list {
  display: grid;
  gap: 65px;
  margin: 65px auto 150px 25px;
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  line-height: 41px;
}

.mobile-menu-list:hover {
  cursor: pointer;
  color: #090909;
}

.lang-list-mobile {
  display: flex;
  transform: rotate(90deg);
  gap: 5px;
  width: max-content;
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  position: absolute;
  right: -20px;
}

.hero-title-mobile ul li a:hover {
  color: black;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.hero-container picture,
.hero-container img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

/* ABOUT ME */
.about-me-section {
  height: 500px;
  background-color: #f6f6f6;
}

.about-me-section__container {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.container__info {
  display: grid;
  align-content: center;
  gap: 30px;
}

.about-me-section h2 {
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.about-me-section p {
  text-align: center;
  font-size: 18px;
}

/* SKILLS */
.skills-section {
  min-height: auto;
}

.skills-section .container {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.skills-section h2 {
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.container__skills-info p {
  text-align: center;
  font-size: 18px;
}

.skills-section ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 100px;
}

.skills-section li {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  text-align: center;
  color: #828282;
  display: grid;
}

.logo {
  margin-bottom: 25px;
}

.logo-and-text {
  display: grid;
  justify-self: center;
  width: 80px;
  margin-bottom: 60px;
}

/*PORTFOLIO */
.portfolio-section {
  height: 2270px;
  background-color: #f6f6f6;
}

.portfolio-section .container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.portfolio-section h2 {
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.articles {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 70px;
}

.portfolio-section article {
  text-align: center;
  height: 630px;
  display: grid;
  justify-content: space-between;
  align-content: space-around;
  gap: 40px;
  justify-items: center;
}

.portfolio-section article img {
  width: 100%;
}

.portfolio-section article a {
  font-size: 18px;
  color: black;
  width: 200px;
}

.article-last {
  margin-bottom: 100px;
}

/* FOOTER */
footer {
  height: 400px;
  margin: 100px auto;
}

footer h2 {
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}

footer button {
  border-radius: 22px;
  width: 180px;
  height: 45px;
  color: white;
  background-color: #070707;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}

.footer-div {
  display: grid;
  justify-content: center;
  justify-items: center;
}

footer .container {
  display: grid;
  gap: 60px;
}

.social-networks-logos {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.footer-div-last {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #828282;
}

footer svg:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 375px) {

  header {
    display: none;
  }

  .hero-section {
    margin-top: 65px;
    height: 100%;
  }

  .hero-title {
    display: grid !important;
    gap: 25px !important;
  }

  .lang-list {
    display: none !important;
  }

  .menu-btn-open {
    display: block !important;
  }

  .skills-section {
    height: 100%;
    margin-bottom: 100px;
  }

  .skills-section ul {
    flex-direction: column;
    gap: 30px;
  }

  .skills-section li {
    justify-content: center;
  }

  .portfolio-section {
    height: 100%;
  }

  .portfolio-section article {
    height: auto;
    align-content: center;
    gap: 35px;
  }

  .article-last {
    margin-bottom: 80px;
  }

}