/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --font-family: 'Open Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: #070707;
  font-size: 18px;
}

.container {
  width: clamp(320px, 100%, 970px);
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
header {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

nav {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

nav ul {
  display: flex;
  gap: clamp(10px, 5vw, 40px);
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: #828282;
  ;
}

nav ul li a:hover,
.portfolio-section article a:hover {
  color: black;
  font-weight: 700;
  cursor: pointer;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #828282;
  margin: 0;
}

/* HERO */
.hero-section {
  height: 500px;
}

.hero-section h1 {
  font-weight: var(--font-weight-bold);
  font-size: 48px;
  margin-bottom: 50px;
}

/* ABOUT ME */
.about-me-section {
  height: 500px;
  background-color: #f6f6f6;
}

.about-me-section__container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.container__info {
  display: grid;
  align-content: center;
  gap: 30px;
  width: 480px;
}

.about-me-section h2 {
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.about-me-section p {
  text-align: center;
  font-size: 18px;
}

/* SKILLS */
.skills-section {
  height: 565px;
}

.skills-section .container {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.skills-section h2 {
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.container__skills-info p {
  text-align: center;
  font-size: 18px;
}

.skills-section ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
}

.skills-section li {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  text-align: center;
  color: #828282;
  display: grid;
}

.logo {
  margin-bottom: 25px;
}

.logo-and-text {
  display: grid;
  justify-self: center;
  width: 80px;
  margin-bottom: 60px;
}

/*PORTFOLIO */
.portfolio-section {
  height: 2270px;
  background-color: #f6f6f6;
}

.portfolio-section .container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.portfolio-section h2 {
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.articles {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 70px;
}

.portfolio-section article {
  text-align: center;
  height: 630px;
  display: grid;
  justify-content: space-between;
  align-content: space-around;
  gap: 40px;
  justify-items: center;
}

.portfolio-section article img {
  width: 100%;
}

.portfolio-section article a {
  font-size: 18px;
  color: black;
  width: 200px;
}

.article-last {
  margin-bottom: 100px;
}

/* FOOTER */
footer {
  height: 400px;
  margin: 100px auto;
}

footer h2 {
  font-weight: var(--font-weight-bold);
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}

footer button {
  border-radius: 22px;
  width: 180px;
  height: 45px;
  color: white;
  background-color: #070707;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}

.footer-div {
  display: grid;
  justify-content: center;
  justify-items: center;
}

footer .container {
  display: grid;
  gap: 60px;
}

.social-networks-logos {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.footer-div-last {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #828282;
}

footer svg:hover{
  opacity: 0.5;
}